@model AppUserVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Kayıt Ol</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

    <div class="container">
        @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-signin" }))
        {
            if (ViewBag.ZatenVar != null)
            {
                <h2>@ViewBag.ZatenVar</h2>
            }
                <h2 class="form-signin-heading">Kayıt Ol</h2>
                <div class="login-wrap">
                    @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "İsim Giriniz", autofocus = true })
                    @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Şifre Giriniz" })
                    @Html.TextBoxFor(x => x.AppUser.Email, new { @class = "form-control", placeholder = "Email Giriniz" })
                    @Html.TextBoxFor(x => x.AppUserDetail.FirstName, new { @class = "form-control", placeholder = "İsminizi Giriniz" })
                    @Html.TextBoxFor(x => x.AppUserDetail.LastName, new { @class = "form-control", placeholder = "Soyisminizi Giriniz" })
                    @Html.TextAreaFor(x => x.AppUserDetail.Adress1, new { @class = "form-control", placeholder = "Adresinizi Giriniz", @style = "resize:none" })<br />
                    
                    <button class="btn btn-lg btn-login btn-block" type="submit">KAYIT OL</button>

                    <div class="registration">
                        Zaten Kayıtlı Mısın?
                        @Html.ActionLink("Giriş Yap","Login","Home")
                    </div>

                </div>
        }
    </div>


</body>
</html>
